<!DOCTYPE html>
<html lang="p-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DrawLession</title>
       {{{ parte/head }}}
    <link rel="stylesheet" href="style.css" />

  </head>

  <body>
    <div class="container">
      <!-- Barra lateral -->
      <aside class="sidebar">
        <h2 class="logo">DrawLession</h2>

        <nav class="menu">
          <ul>
            <li onclick="voltar()">
              <span class="icon"><i class="bi bi-arrow-left"></i></span>
              Voltar
            </li>
            <li class="active" onclick="curso()">
              <span class="icon"><i class="bi bi-book-half"></i></span>
              Cursos
            </li>
            <li>
              <span class="icon"><i class="bi bi-clipboard-check"></i></span>
              Atividades
            </li>

            <li onclick="irPerfil()">
              <span class="icon">👤</span>
              Perfil
            </li>

            <li onclick="irConfig()">
              <span class="icon">⚙️</span>
              Configurações
            </li>
          </ul>
        </nav>
      </aside>

      <!-- Conteúdo principal -->
      <main class="content">
        <!-- Topo com busca e ícone de usuário -->
        <header class="top-bar">
          <form class="search">
            <input type="text" placeholder="Buscar artista, obra..." />
          </form>

          <div class="profile-icon">
            <span>👤</span>
          </div>
        </header>

        <!-- Destaques -->
        <section class="destaques">
          <h3>Cursos em destaque:</h3>
          <div class="carousel-container">
            <div class="slides">
              <div class="slide active">Imagem 1</div>
              <div class="slide">Imagem 2</div>
              <div class="slide">Imagem 3</div>
            </div>
            <button class="prev">❮</button>
            <button class="next">❯</button>
          </div>
          <h3>Meus cursos</h3>
          <div class="meus-cursos">
            <div class="card-curso">
              <p>Desenhando com o mouse</p>
              <button>Continuar</button>
            </div>
            <div class="card-curso">
              <p>Perspectiva</p>
              <button>Cotinuar</button>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="nav.js"></script>
  </body>
</html>
