<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>log-in</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="container-central">
    <script src="cadastro.js"></script>
    <div class="quadrado-central">
      <div class="conteudo">
        <h2>Seja bem-vindo!</h2>
        <form action="" method="post">
          <label for="email">Digite um e-mail:</label><br />
          <input type="email" id="email"/><br /><br />
          <label for="senha">Crie uma senha:</label><br />
          <input type="password" id="senha" /><br /><br />
          <label for="user">insira um nome de usuário:</label><br />
          <input type="text" id="user" /><br /><br />
          <label for="nivel">Qual o seu nível de desenhista?</label><br />
          <select name="nivel" id="nivel">
            <option value="iniciante">Iniciante</option>
            <option value="intermediario">Intermediário</option>
            <option value="Avançado">Avançado</option>
          </select>
        </form>

        <div class="botao-acao">
          <button>Concluir cadastro</button>
        </div>
      </div>
    </div>
    <script src="nav.js"></script>
  </body>
</html>
