<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DrawNet</title>
    <link rel="stylesheet" href="estilo.css" />
  </head>
  <body>
    <script src="login.js"></script>
    <header>
<nav class="navbar">
  <div class="logo">DrawNet</div>

  <ul class="nav-links">
    <li><a href="#">Início</a></li>

    <li class="dropdown">
      <a href="#" class="dropbtn">Cursos ▼</a>
      <div class="dropdown-content">
        <a href="#">Iniciante</a>
        <a href="#">Intermediário</a>
        <a href="#">Avançado</a>
      </div>
    </li>

    <li><a href="#">Atividades</a></li>
    <li><a href="#">Contato</a></li>
  </ul>

  <button class="cta">Entrar</button>
</nav>
    </header>
    <main>
       
        <div id="img">
             <h1>Sua plataforma de desenho e aprendizado esperando por você!</h1>
             <div class="comece"><button class="comece-botao" onclick="comeco()">Comece agora</button></div>
             <div class="modal-dialog modal-lg">
              
    <div class="quadrado-central">
      <div class="conteudo">
        <h2>Bem-vindo de volta!</h2>
        <form action="/login" method="post">
          <label for="email">e-mail:</label><br>
          <input
            type="email"
            id="email"
            onchange="validateFields()"
          /><br /><br /><br />
          <label for="senha">senha:</label><br>
          <input type="password" id="senha" onchange="validateFields()" />
        </form>
        <button type="button" id="esq-senha" disabled="true">
          Recuperar minha senha
        </button>
        <div class="botao-acao">
          <button type="button" id="entrar" disabled="true" onclick="inicio()">Entrar</button>
        </div>
        <div class="nao-tenho-conta">
          <p>Não tem uma conta ainda?</p>
          <button onclick="criarConta()">Me cadastrar</button>
        </div>
      </div>
    </div>
             </div>
        </div>.
        <section class="saiba-mais">
        
        </section>
        <section class="cursos">

        </section>
        <section class="posts">

        </section>
    </main>
    <footer class="contatos">

    </footer>
    <script src="nav.js"></script>
  </body>
</html>
