body{
    font-family:sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  background: #8b9ff0;
  padding: 15px 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  font-family: Arial, sans-serif;
}

/* LOGO */
.logo {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00d4ff;
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #222;
  min-width: 150px;
  top: 30px;
  left: 0;
  border-radius: 5px;
  padding: 10px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.dropdown-content a {
  display: block;
  padding: 10px 15px;
  font-size: 14px;
}

.dropdown-content a:hover {
  background: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* BOTÃO */
.cta {
  background: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.cta:hover {
  background: #ddd;
}
/*MAIN*/
#img {
  background-image: url(img/cece-kun-C_E47HYN8EY-unsplash.jpg);
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-size: cover; /* Cobre todo o container, podendo cortar a imagem */
  /* Ou background-size: contain; (ajusta sem cortar, pode deixar espaços) */
  background-position: center; /* Centraliza a imagem */
  width: 100%; /* Define a largura */
  height: 800px; /* Define a altura */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#img h1{
    text-align: center;
    color: white;
}
.comece{
    margin-top:30px;
margin-left:850px
}
.comece-botao{
      background: white;
  color: black;
  border: none;
  padding: 20px 40px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
}
.comece-botao:hover{
    background-color: #5d9bff;
    color: white;
}